@charset "UTF-8";

.btn-download {
  background: linear-gradient(135deg, #28a745, #218838);
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.btn-download ion-icon {
  font-size: 1.2rem;
}

.btn-download:hover {
  background: linear-gradient(135deg, #218838, #1e7e34);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

/* Estilos para breadcrumb */

.breadcrumb {
    display: flex !important;
    flex-wrap: wrap;
    list-style: none !important;
    background-color: transparent;
    padding: 0;
    margin-bottom: 1.2rem; /* espacio extra antes de la tabla */
    margin-left: 1rem; /* Ajustá el valor a gusto */
    font-size: 0.9rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "›";
    color: #6c757d;
    font-weight: bold;
    margin: 0 0.5rem; /* espacio entre items */
}

.breadcrumb-item a {
    color: #0d6efd;
    transition: color 0.2s ease;
    font-weight: 500;
    text-decoration: none !important;
}

.breadcrumb-item a:hover {
    color: #0056b3;
    text-decoration: underline !important;
}

.breadcrumb-item.active {
    color: #495057;
    font-weight: 500;
}
